@import url("https://fonts.googleapis.com/css?family=Concert+One|Pacifico");
.mobile {
  position: fixed;
  text-align: center;
  width: 100%;
  top: 50px;
  font-size: 90px;
  display: block;
}

h1, h2, span {
  display: none;
}

@media screen and (min-width: 670px) {
  .mobile {
    display: none;
  }

  h1, h2, span {
    display: block;
  }

  body {
    background: linear-gradient(to right, #e2b8f7, #d4bafa, #c7bcfb, #b9befb, #acbff9);
    cursor: crosshair;
    perspective: 1000px;
    transform-style: preserve-3d;
    font-family: "Pacifico", cursive;
  }

  h1 {
    position: fixed;
    text-align: center;
    width: 100%;
    top: 120px;
    font-size: 90px;
    background: -webkit-linear-gradient(0deg, #ceadfc 0%, #a3bbfb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Concert One", cursive;
    font-weight: 400;
    z-index: -1;
    letter-spacing: 6px;
  }

  span {
    position: fixed;
    text-align: center;
    width: 100%;
    top: 70px;
    font-size: 70px;
  }

  h2 {
    position: fixed;
    text-align: center;
    width: 100%;
    top: 50px;
    font-size: 90px;
    background: -webkit-linear-gradient(90deg, #e9e6ff 0%, white 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  bokeh {
    position: fixed;
    width: 2vmin;
    height: 2vmin;
    border-radius: 50%;
    animation-name: explosion;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: cubic-bezier(0.84, 0.02, 1, 1);
  }
  bokeh:nth-child(1) {
    background-color: #fc85e1;
    transform: translate(29.5693138829vw, 90.3231197397vh);
    animation-duration: 3.5703583358s;
    animation-delay: -3.9141456256s;
  }
  bokeh:nth-child(2) {
    background-color: #2bd8ff;
    transform: translate(31.1484996497vw, 31.2794402409vh);
    animation-duration: 4.0967870987s;
    animation-delay: -2.6445730906s;
  }
  bokeh:nth-child(3) {
    background-color: #ef8d22;
    transform: translate(60.5153755548vw, 87.4399475568vh);
    animation-duration: 2.8066958215s;
    animation-delay: -0.5007174673s;
  }
  bokeh:nth-child(4) {
    background-color: #fc85e1;
    transform: translate(49.2623037442vw, 79.4829524523vh);
    animation-duration: 4.0129245947s;
    animation-delay: -3.2230232789s;
  }
  bokeh:nth-child(5) {
    background-color: #fc85e1;
    transform: translate(53.0376684243vw, 6.6213164438vh);
    animation-duration: 3.3909230999s;
    animation-delay: -3.2493864002s;
  }
  bokeh:nth-child(6) {
    background-color: #fc85e1;
    transform: translate(54.7328087016vw, 67.5229167727vh);
    animation-duration: 4.0284297063s;
    animation-delay: -4.4060229518s;
  }
  bokeh:nth-child(7) {
    background-color: #ef8d22;
    transform: translate(45.2058397875vw, 7.6389118831vh);
    animation-duration: 2.4869390564s;
    animation-delay: -3.2353339336s;
  }
  bokeh:nth-child(8) {
    background-color: #2bd8ff;
    transform: translate(42.2071789899vw, 49.3540970324vh);
    animation-duration: 4.0563047191s;
    animation-delay: -2.4053422595s;
  }
  bokeh:nth-child(9) {
    background-color: #fc85e1;
    transform: translate(72.3374589475vw, 99.2141569474vh);
    animation-duration: 2.4508226104s;
    animation-delay: -4.1508174292s;
  }
  bokeh:nth-child(10) {
    background-color: #ef8d22;
    transform: translate(72.9893180011vw, 84.7630428259vh);
    animation-duration: 4.6224092514s;
    animation-delay: -3.1303361978s;
  }
  bokeh:nth-child(11) {
    background-color: #2bd8ff;
    transform: translate(29.7179197072vw, 61.9420821114vh);
    animation-duration: 3.8741654047s;
    animation-delay: -3.0299768466s;
  }
  bokeh:nth-child(12) {
    background-color: #feff28;
    transform: translate(73.5226940844vw, 41.0001357216vh);
    animation-duration: 4.6522091197s;
    animation-delay: -3.2432443943s;
  }
  bokeh:nth-child(13) {
    background-color: #fc85e1;
    transform: translate(70.5168203736vw, 73.528060885vh);
    animation-duration: 3.2665081239s;
    animation-delay: -3.6500861747s;
  }
  bokeh:nth-child(14) {
    background-color: #fc85e1;
    transform: translate(11.2494306443vw, 78.3357385659vh);
    animation-duration: 2.2894453289s;
    animation-delay: -0.1313047635s;
  }
  bokeh:nth-child(15) {
    background-color: #feff28;
    transform: translate(60.2364574222vw, 50.0076219092vh);
    animation-duration: 2.7666359032s;
    animation-delay: -2.4590675452s;
  }
  bokeh:nth-child(16) {
    background-color: #ef8d22;
    transform: translate(75.247580664vw, 51.9874377157vh);
    animation-duration: 3.6732731324s;
    animation-delay: -0.0289958963s;
  }
  bokeh:nth-child(17) {
    background-color: #ef8d22;
    transform: translate(43.664924725vw, 83.958192555vh);
    animation-duration: 2.1932609063s;
    animation-delay: -0.0174330325s;
  }
  bokeh:nth-child(18) {
    background-color: #2bd8ff;
    transform: translate(1.2884602356vw, 39.9462218376vh);
    animation-duration: 4.3558913488s;
    animation-delay: -2.1808634719s;
  }
  bokeh:nth-child(19) {
    background-color: #feff28;
    transform: translate(23.6799324051vw, 15.7517120203vh);
    animation-duration: 3.5205920633s;
    animation-delay: -2.6897258315s;
  }
  bokeh:nth-child(20) {
    background-color: #2bd8ff;
    transform: translate(77.3814461976vw, 20.4749518839vh);
    animation-duration: 3.888443348s;
    animation-delay: -1.4592831581s;
  }
  bokeh:nth-child(21) {
    background-color: #feff28;
    transform: translate(99.2836892776vw, 48.7780799525vh);
    animation-duration: 4.7410514658s;
    animation-delay: -0.1041689898s;
  }
  bokeh:nth-child(22) {
    background-color: #fc85e1;
    transform: translate(73.0033240699vw, 33.4837707677vh);
    animation-duration: 4.108354102s;
    animation-delay: -1.389928836s;
  }
  bokeh:nth-child(23) {
    background-color: #feff28;
    transform: translate(89.3784376253vw, 20.8384586793vh);
    animation-duration: 4.3753478906s;
    animation-delay: -4.2990256193s;
  }
  bokeh:nth-child(24) {
    background-color: #fc85e1;
    transform: translate(43.2737828204vw, 82.785430714vh);
    animation-duration: 2.3654937624s;
    animation-delay: -2.2000841714s;
  }
  bokeh:nth-child(25) {
    background-color: #ef8d22;
    transform: translate(3.8365742649vw, 9.8402857909vh);
    animation-duration: 3.4516070195s;
    animation-delay: -0.4988059295s;
  }
  bokeh:nth-child(26) {
    background-color: #fc85e1;
    transform: translate(67.8178147452vw, 76.3103078163vh);
    animation-duration: 3.4287616338s;
    animation-delay: -0.7568637199s;
  }
  bokeh:nth-child(27) {
    background-color: #fc85e1;
    transform: translate(52.7394197124vw, 7.0995607957vh);
    animation-duration: 3.4154771314s;
    animation-delay: -3.2716058507s;
  }
  bokeh:nth-child(28) {
    background-color: #feff28;
    transform: translate(16.1950100376vw, 73.7432689608vh);
    animation-duration: 3.7678314495s;
    animation-delay: -2.8798274542s;
  }
  bokeh:nth-child(29) {
    background-color: #2bd8ff;
    transform: translate(76.5356885207vw, 94.4416123007vh);
    animation-duration: 4.1521936137s;
    animation-delay: -0.0240190498s;
  }
  bokeh:nth-child(30) {
    background-color: #ef8d22;
    transform: translate(91.8831091508vw, 25.0797825752vh);
    animation-duration: 2.376601652s;
    animation-delay: -2.3505378335s;
  }
  bokeh:nth-child(31) {
    background-color: #fc85e1;
    transform: translate(82.2587644798vw, 28.94552816vh);
    animation-duration: 2.8188066118s;
    animation-delay: -3.0341628674s;
  }
  bokeh:nth-child(32) {
    background-color: #ef8d22;
    transform: translate(65.6652898459vw, 7.7660264012vh);
    animation-duration: 2.0939433705s;
    animation-delay: -1.6935606611s;
  }
  bokeh:nth-child(33) {
    background-color: #ef8d22;
    transform: translate(90.8594611078vw, 10.6020667296vh);
    animation-duration: 2.525157883s;
    animation-delay: -0.7913184899s;
  }
  bokeh:nth-child(34) {
    background-color: #fc85e1;
    transform: translate(78.4710676694vw, 99.7345801612vh);
    animation-duration: 2.1118417656s;
    animation-delay: -4.8995518964s;
  }
  bokeh:nth-child(35) {
    background-color: #feff28;
    transform: translate(33.4001976845vw, 76.5527576371vh);
    animation-duration: 4.6768486901s;
    animation-delay: -4.3680387554s;
  }
  bokeh:nth-child(36) {
    background-color: #feff28;
    transform: translate(90.968991885vw, 87.7293023123vh);
    animation-duration: 4.8307526027s;
    animation-delay: -3.3396010005s;
  }
  bokeh:nth-child(37) {
    background-color: #2bd8ff;
    transform: translate(57.5764214636vw, 82.816170675vh);
    animation-duration: 3.7112167478s;
    animation-delay: -4.2148384866s;
  }
  bokeh:nth-child(38) {
    background-color: #feff28;
    transform: translate(12.3772350978vw, 76.5572872444vh);
    animation-duration: 3.344479686s;
    animation-delay: -2.962159009s;
  }
  bokeh:nth-child(39) {
    background-color: #fc85e1;
    transform: translate(66.394517601vw, 86.059101611vh);
    animation-duration: 4.119995745s;
    animation-delay: -4.8893198812s;
  }
  bokeh:nth-child(40) {
    background-color: #2bd8ff;
    transform: translate(74.4782783609vw, 66.6695204124vh);
    animation-duration: 3.8591860472s;
    animation-delay: -1.6314061878s;
  }
  bokeh:nth-child(41) {
    background-color: #ef8d22;
    transform: translate(55.723866038vw, 48.845362523vh);
    animation-duration: 2.757354152s;
    animation-delay: -4.1390066926s;
  }
  bokeh:nth-child(42) {
    background-color: #feff28;
    transform: translate(41.5033513483vw, 55.5361822963vh);
    animation-duration: 3.1891997476s;
    animation-delay: -1.4405677528s;
  }
  bokeh:nth-child(43) {
    background-color: #ef8d22;
    transform: translate(74.7787004242vw, 56.6739330524vh);
    animation-duration: 2.983224329s;
    animation-delay: -3.7832516508s;
  }
  bokeh:nth-child(44) {
    background-color: #ef8d22;
    transform: translate(3.7707264358vw, 40.6083027055vh);
    animation-duration: 4.2399277037s;
    animation-delay: -4.3233412633s;
  }
  bokeh:nth-child(45) {
    background-color: #fc85e1;
    transform: translate(5.5800176434vw, 71.925740532vh);
    animation-duration: 2.7491150631s;
    animation-delay: -2.2051733527s;
  }
  bokeh:nth-child(46) {
    background-color: #feff28;
    transform: translate(50.3768573459vw, 94.2996758672vh);
    animation-duration: 2.1723077882s;
    animation-delay: -1.8874344963s;
  }
  bokeh:nth-child(47) {
    background-color: #ef8d22;
    transform: translate(62.4262293347vw, 66.8853177784vh);
    animation-duration: 3.3217354774s;
    animation-delay: -3.7115010013s;
  }
  bokeh:nth-child(48) {
    background-color: #fc85e1;
    transform: translate(59.7530948197vw, 37.5438583379vh);
    animation-duration: 3.3310199513s;
    animation-delay: -1.343696912s;
  }
  bokeh:nth-child(49) {
    background-color: #fc85e1;
    transform: translate(79.8388425281vw, 60.5156133151vh);
    animation-duration: 2.6209840958s;
    animation-delay: -3.5099741815s;
  }
  bokeh:nth-child(50) {
    background-color: #fc85e1;
    transform: translate(84.501771136vw, 14.7973182641vh);
    animation-duration: 2.440099303s;
    animation-delay: -4.8268472946s;
  }
  bokeh:nth-child(51) {
    background-color: #ef8d22;
    transform: translate(2.4657580751vw, 96.8365300967vh);
    animation-duration: 4.1277013778s;
    animation-delay: -0.8471449678s;
  }
  bokeh:nth-child(52) {
    background-color: #fc85e1;
    transform: translate(34.5811044873vw, 45.7583159323vh);
    animation-duration: 2.2462043361s;
    animation-delay: -1.3777388043s;
  }
  bokeh:nth-child(53) {
    background-color: #fc85e1;
    transform: translate(42.0083208538vw, 76.024120911vh);
    animation-duration: 4.7376467891s;
    animation-delay: -3.1429741064s;
  }
  bokeh:nth-child(54) {
    background-color: #2bd8ff;
    transform: translate(31.2559653408vw, 53.4672894607vh);
    animation-duration: 4.214494845s;
    animation-delay: -2.4907435747s;
  }
  bokeh:nth-child(55) {
    background-color: #ef8d22;
    transform: translate(0.5419672815vw, 30.3542295317vh);
    animation-duration: 2.0760350078s;
    animation-delay: -0.2369721418s;
  }
  bokeh:nth-child(56) {
    background-color: #feff28;
    transform: translate(54.4224073807vw, 42.9115021656vh);
    animation-duration: 3.6277780856s;
    animation-delay: -1.9267735016s;
  }
  bokeh:nth-child(57) {
    background-color: #ef8d22;
    transform: translate(3.4386210792vw, 71.6952037224vh);
    animation-duration: 4.4462044611s;
    animation-delay: -1.9106215399s;
  }
  bokeh:nth-child(58) {
    background-color: #fc85e1;
    transform: translate(66.5159723833vw, 60.8418923517vh);
    animation-duration: 4.4197820425s;
    animation-delay: -3.348836896s;
  }
  bokeh:nth-child(59) {
    background-color: #feff28;
    transform: translate(38.4396637142vw, 27.6899495882vh);
    animation-duration: 2.1071307105s;
    animation-delay: -1.7904854296s;
  }
  bokeh:nth-child(60) {
    background-color: #2bd8ff;
    transform: translate(16.9537635766vw, 57.1236856871vh);
    animation-duration: 3.5615453368s;
    animation-delay: -1.1165894157s;
  }
  bokeh:nth-child(61) {
    background-color: #feff28;
    transform: translate(50.4156725897vw, 87.4612231737vh);
    animation-duration: 3.8041652837s;
    animation-delay: -3.7036758561s;
  }
  bokeh:nth-child(62) {
    background-color: #fc85e1;
    transform: translate(93.676059684vw, 8.6917769089vh);
    animation-duration: 3.5565572344s;
    animation-delay: -1.6289334045s;
  }
  bokeh:nth-child(63) {
    background-color: #fc85e1;
    transform: translate(18.3341422329vw, 15.8516984408vh);
    animation-duration: 3.0794394087s;
    animation-delay: -4.1084198067s;
  }
  bokeh:nth-child(64) {
    background-color: #ef8d22;
    transform: translate(59.7738433313vw, 36.998533746vh);
    animation-duration: 3.6040058052s;
    animation-delay: -0.2939652497s;
  }
  bokeh:nth-child(65) {
    background-color: #fc85e1;
    transform: translate(19.2362552157vw, 79.6998984951vh);
    animation-duration: 4.59097676s;
    animation-delay: -0.6449414419s;
  }
  bokeh:nth-child(66) {
    background-color: #ef8d22;
    transform: translate(34.1915548625vw, 9.5465479609vh);
    animation-duration: 3.3533093583s;
    animation-delay: -0.1992770313s;
  }
  bokeh:nth-child(67) {
    background-color: #2bd8ff;
    transform: translate(75.759872997vw, 96.5667436553vh);
    animation-duration: 3.4112433102s;
    animation-delay: -2.0473175671s;
  }
  bokeh:nth-child(68) {
    background-color: #ef8d22;
    transform: translate(87.7496482587vw, 61.466830504vh);
    animation-duration: 3.8041470852s;
    animation-delay: -0.6060916829s;
  }
  bokeh:nth-child(69) {
    background-color: #feff28;
    transform: translate(66.0540514895vw, 24.8149367438vh);
    animation-duration: 4.8052360332s;
    animation-delay: -0.9567677232s;
  }
  bokeh:nth-child(70) {
    background-color: #fc85e1;
    transform: translate(42.588921703vw, 87.7935945237vh);
    animation-duration: 4.977750344s;
    animation-delay: -4.3173234254s;
  }
  bokeh:nth-child(71) {
    background-color: #ef8d22;
    transform: translate(38.5547556447vw, 17.9568567087vh);
    animation-duration: 3.1778563873s;
    animation-delay: -0.3638162367s;
  }
  bokeh:nth-child(72) {
    background-color: #fc85e1;
    transform: translate(25.0428447116vw, 12.3882008762vh);
    animation-duration: 2.7949946325s;
    animation-delay: -0.9892955021s;
  }
  bokeh:nth-child(73) {
    background-color: #fc85e1;
    transform: translate(85.0762157218vw, 98.6025785113vh);
    animation-duration: 4.8248198619s;
    animation-delay: -0.3646082426s;
  }
  bokeh:nth-child(74) {
    background-color: #feff28;
    transform: translate(12.7793684639vw, 50.3930421382vh);
    animation-duration: 4.4466461336s;
    animation-delay: -3.5885428788s;
  }
  bokeh:nth-child(75) {
    background-color: #ef8d22;
    transform: translate(46.8990570707vw, 65.7418481066vh);
    animation-duration: 4.5787819796s;
    animation-delay: -0.8713193817s;
  }
  bokeh:nth-child(76) {
    background-color: #ef8d22;
    transform: translate(7.9340009323vw, 51.4967628337vh);
    animation-duration: 4.9086459051s;
    animation-delay: -1.035102194s;
  }
  bokeh:nth-child(77) {
    background-color: #fc85e1;
    transform: translate(50.707258831vw, 10.5174466214vh);
    animation-duration: 3.1729432333s;
    animation-delay: -2.7424484179s;
  }
  bokeh:nth-child(78) {
    background-color: #feff28;
    transform: translate(70.9465703678vw, 23.7881276186vh);
    animation-duration: 3.6032182002s;
    animation-delay: -1.417962305s;
  }
  bokeh:nth-child(79) {
    background-color: #fc85e1;
    transform: translate(40.9475929944vw, 40.9761042185vh);
    animation-duration: 2.1282324941s;
    animation-delay: -0.5899462014s;
  }
  bokeh:nth-child(80) {
    background-color: #feff28;
    transform: translate(92.538179775vw, 11.9895658547vh);
    animation-duration: 3.0381714107s;
    animation-delay: -3.68663131s;
  }
  bokeh:nth-child(81) {
    background-color: #2bd8ff;
    transform: translate(82.9559801492vw, 58.0821863752vh);
    animation-duration: 3.2026585876s;
    animation-delay: -3.8684476633s;
  }
  bokeh:nth-child(82) {
    background-color: #fc85e1;
    transform: translate(88.9620311526vw, 27.3178869082vh);
    animation-duration: 4.0610315933s;
    animation-delay: -3.8232023492s;
  }
  bokeh:nth-child(83) {
    background-color: #feff28;
    transform: translate(62.738884035vw, 91.9114142298vh);
    animation-duration: 3.8750657754s;
    animation-delay: -1.3898420622s;
  }
  bokeh:nth-child(84) {
    background-color: #2bd8ff;
    transform: translate(90.7386964347vw, 78.6099627429vh);
    animation-duration: 3.6632516411s;
    animation-delay: -3.9713332418s;
  }
  bokeh:nth-child(85) {
    background-color: #fc85e1;
    transform: translate(81.7043449471vw, 77.9867503664vh);
    animation-duration: 2.0079472374s;
    animation-delay: -3.7639677705s;
  }
  bokeh:nth-child(86) {
    background-color: #2bd8ff;
    transform: translate(9.9208924948vw, 83.4589851772vh);
    animation-duration: 2.9103905579s;
    animation-delay: -3.4446174845s;
  }
  bokeh:nth-child(87) {
    background-color: #2bd8ff;
    transform: translate(53.4156621811vw, 14.7316225777vh);
    animation-duration: 3.40577931s;
    animation-delay: -0.5946834669s;
  }
  bokeh:nth-child(88) {
    background-color: #ef8d22;
    transform: translate(67.9853805794vw, 49.2724991614vh);
    animation-duration: 2.049843608s;
    animation-delay: -0.1373401224s;
  }
  bokeh:nth-child(89) {
    background-color: #ef8d22;
    transform: translate(8.5493896275vw, 14.2877123745vh);
    animation-duration: 4.2043461391s;
    animation-delay: -4.6633192671s;
  }
  bokeh:nth-child(90) {
    background-color: #ef8d22;
    transform: translate(3.7931995245vw, 22.5598960737vh);
    animation-duration: 4.9735397591s;
    animation-delay: -0.3366785246s;
  }
  bokeh:nth-child(91) {
    background-color: #ef8d22;
    transform: translate(43.4404269964vw, 44.4156059658vh);
    animation-duration: 2.177825118s;
    animation-delay: -0.9101434425s;
  }
  bokeh:nth-child(92) {
    background-color: #fc85e1;
    transform: translate(82.8418146847vw, 62.9933059553vh);
    animation-duration: 2.1794585502s;
    animation-delay: -1.0866347554s;
  }
  bokeh:nth-child(93) {
    background-color: #2bd8ff;
    transform: translate(80.5437422631vw, 21.4440880057vh);
    animation-duration: 4.8289247887s;
    animation-delay: -4.620139103s;
  }
  bokeh:nth-child(94) {
    background-color: #2bd8ff;
    transform: translate(97.6702122143vw, 72.9550354842vh);
    animation-duration: 2.3593063481s;
    animation-delay: -0.2865258855s;
  }
  bokeh:nth-child(95) {
    background-color: #fc85e1;
    transform: translate(43.4385577413vw, 30.2422199746vh);
    animation-duration: 2.5475726771s;
    animation-delay: -1.3281942341s;
  }
  bokeh:nth-child(96) {
    background-color: #feff28;
    transform: translate(60.4054467776vw, 3.2766316872vh);
    animation-duration: 3.7656967702s;
    animation-delay: -1.4199601637s;
  }
  bokeh:nth-child(97) {
    background-color: #2bd8ff;
    transform: translate(81.2886895362vw, 97.3513447116vh);
    animation-duration: 2.9664844806s;
    animation-delay: -2.100509854s;
  }
  bokeh:nth-child(98) {
    background-color: #feff28;
    transform: translate(22.5160687801vw, 22.1295045616vh);
    animation-duration: 2.095272077s;
    animation-delay: -3.1192324665s;
  }
  bokeh:nth-child(99) {
    background-color: #2bd8ff;
    transform: translate(9.3451264708vw, 25.7022474746vh);
    animation-duration: 2.4043846568s;
    animation-delay: -1.1532594828s;
  }
  bokeh:nth-child(100) {
    background-color: #2bd8ff;
    transform: translate(89.1310515105vw, 35.9452857369vh);
    animation-duration: 3.374020863s;
    animation-delay: -1.2493765885s;
  }

  @keyframes explosion {
    0% {
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: translate(50vw, 100vh);
    }
  }
  .cake {
    position: relative;
    top: 250px;
    margin: auto;
    width: 200px;
    height: 60px;
    background: #f9fdff;
    border-radius: 100%;
    transform: translateZ(100px);
    box-shadow: 0px 4px 0px #f4f9fd, 0px 8px 0px #dba9ff, 0px 12px 0px #fec3b3, 0px 16px 0px #f7f6fb, 0px 20px 0px #f7f6fb, 0px 24px 0px #f7f6fb, 0px 28px 0px #f7f6fb, 0px 32px 0px #fea0bb, 0px 36px 0px #fea0bb, 0px 40px 0px #9cef9d, 0px 44px 0px #9cef9d, 0px 48px 0px #f7f6fb, 0px 52px 0px #f7f6fb, 0px 56px 0px #f7f6fb, 0px 60px 0px #f7f6fb, 0px 64px 0px #f7f6fb, 0px 68px 0px #dfa5fc, 0px 72px 0px #dfa5fc, 0px 76px 0px #fafffe, 0px 80px 0px #fafffe;
  }

  .plate {
    position: absolute;
    height: 90px;
    width: 300px;
    bottom: -95px;
    left: 50%;
    top: 380px;
    margin-left: -150px;
    border-radius: 100%;
    background: radial-gradient(ellipse closest-side at center, #08c7fe 0%, #04d7f2 71%, #02ffd0 100%);
    box-shadow: 0px 3px 0px #00e2e1, 0px 6px 0px #00d3fb;
    transform: translateZ(80px);
  }

  .candle {
    position: relative;
    height: 50px;
    width: 12px;
    top: 280px;
    margin: auto;
    background: linear-gradient(0deg, #b7f4a7 0%, white 100%);
    border-radius: 4px;
    transform: translateZ(120px);
  }

  #flame {
    position: absolute;
    z-index: 10;
  }

  .lit {
    background: linear-gradient(to bottom, #FFF6D9, #FBC36C);
    width: 15px;
    height: 35px;
    /*  Info on border radius. http://www.css3.info/preview/rounded-border/ */
    border-top-left-radius: 10px 35px;
    border-top-right-radius: 10px 35px;
    border-bottom-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    top: -34px;
    margin: auto;
    /*   http://www.css3.info/preview/box-shadow/ */
    box-shadow: 0 0 17px 7px rgba(251, 246, 190, 0.71);
    transform-origin: bottom;
    animation: flicker 1s ease-in-out alternate infinite;
  }

  @keyframes flicker {
    0% {
      transform: skewX(5deg);
      box-shadow: 0 0 17px 10px rgba(251, 246, 190, 0.71);
    }
    25% {
      transform: skewX(-5deg);
      box-shadow: 0 0 17px 5px rgba(251, 246, 190, 0.71);
    }
    50% {
      transform: skewX(10deg);
      box-shadow: 0 0 17px 7px rgba(251, 246, 190, 0.71);
    }
    75% {
      transform: skewX(-10deg);
      box-shadow: 0 0 17px 5px rgba(251, 246, 190, 0.71);
    }
    100% {
      transform: skewX(5deg);
      box-shadow: 0 0 17px 10px rgba(251, 246, 190, 0.71);
    }
  }
  .pyro > .before, .pyro > .after {
    position: fixed;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  }

  .pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
  }

  @-webkit-keyframes bang {
    to {
      box-shadow: 139px -22.6666666667px #fbff00, 176px -141.6666666667px #ff1500, 44px 6.3333333333px #ea00ff, -120px -364.6666666667px #00ff37, -152px -243.6666666667px #3300ff, 143px -125.6666666667px #0077ff, 163px -367.6666666667px #ffbf00, -84px -177.6666666667px #ff006a, 29px -295.6666666667px #00ffee, 73px -302.6666666667px #00ff5e, 183px -206.6666666667px #ff6200, 57px -97.6666666667px #15ff00, 204px -301.6666666667px #ff0080, -157px 32.3333333333px #00ff95, -3px -49.6666666667px #ff8400, 245px -49.6666666667px #00ff2f, -191px -201.6666666667px yellow, -242px -37.6666666667px #0077ff, 127px -173.6666666667px #00aaff, 28px -75.6666666667px #7700ff, 109px -7.6666666667px #00a2ff, -37px -92.6666666667px #ffe100, -243px -410.6666666667px #dd00ff, -202px -70.6666666667px #f200ff, 63px -133.6666666667px #9500ff, -248px -381.6666666667px #00fff2, 242px -48.6666666667px #ff0040, 153px -52.6666666667px yellow, 190px -338.6666666667px #ff7b00, -206px -370.6666666667px #ff0062, -29px -104.6666666667px #0062ff, 143px -95.6666666667px #f200ff, 104px -376.6666666667px #e100ff, -175px -380.6666666667px #ff0088, 125px -285.6666666667px #a6ff00, 91px -286.6666666667px #ff0099, -67px -387.6666666667px #d500ff, 1px -314.6666666667px #eeff00, -66px -194.6666666667px #ffea00, -244px 61.3333333333px #00ff62, 236px -359.6666666667px #00ff1a, -248px 40.3333333333px #00e6ff, 83px -18.6666666667px #006aff, -19px -90.6666666667px #00ff99, 122px -346.6666666667px #00ff44, 65px -182.6666666667px #0073ff, -174px -5.6666666667px #00ff66, 219px -140.6666666667px #0044ff, 69px -304.6666666667px #00ff15, 15px 40.3333333333px #e6ff00, 109px -386.6666666667px #48ff00;
    }
  }
  @-moz-keyframes bang {
    to {
      box-shadow: 139px -22.6666666667px #fbff00, 176px -141.6666666667px #ff1500, 44px 6.3333333333px #ea00ff, -120px -364.6666666667px #00ff37, -152px -243.6666666667px #3300ff, 143px -125.6666666667px #0077ff, 163px -367.6666666667px #ffbf00, -84px -177.6666666667px #ff006a, 29px -295.6666666667px #00ffee, 73px -302.6666666667px #00ff5e, 183px -206.6666666667px #ff6200, 57px -97.6666666667px #15ff00, 204px -301.6666666667px #ff0080, -157px 32.3333333333px #00ff95, -3px -49.6666666667px #ff8400, 245px -49.6666666667px #00ff2f, -191px -201.6666666667px yellow, -242px -37.6666666667px #0077ff, 127px -173.6666666667px #00aaff, 28px -75.6666666667px #7700ff, 109px -7.6666666667px #00a2ff, -37px -92.6666666667px #ffe100, -243px -410.6666666667px #dd00ff, -202px -70.6666666667px #f200ff, 63px -133.6666666667px #9500ff, -248px -381.6666666667px #00fff2, 242px -48.6666666667px #ff0040, 153px -52.6666666667px yellow, 190px -338.6666666667px #ff7b00, -206px -370.6666666667px #ff0062, -29px -104.6666666667px #0062ff, 143px -95.6666666667px #f200ff, 104px -376.6666666667px #e100ff, -175px -380.6666666667px #ff0088, 125px -285.6666666667px #a6ff00, 91px -286.6666666667px #ff0099, -67px -387.6666666667px #d500ff, 1px -314.6666666667px #eeff00, -66px -194.6666666667px #ffea00, -244px 61.3333333333px #00ff62, 236px -359.6666666667px #00ff1a, -248px 40.3333333333px #00e6ff, 83px -18.6666666667px #006aff, -19px -90.6666666667px #00ff99, 122px -346.6666666667px #00ff44, 65px -182.6666666667px #0073ff, -174px -5.6666666667px #00ff66, 219px -140.6666666667px #0044ff, 69px -304.6666666667px #00ff15, 15px 40.3333333333px #e6ff00, 109px -386.6666666667px #48ff00;
    }
  }
  @-o-keyframes bang {
    to {
      box-shadow: 139px -22.6666666667px #fbff00, 176px -141.6666666667px #ff1500, 44px 6.3333333333px #ea00ff, -120px -364.6666666667px #00ff37, -152px -243.6666666667px #3300ff, 143px -125.6666666667px #0077ff, 163px -367.6666666667px #ffbf00, -84px -177.6666666667px #ff006a, 29px -295.6666666667px #00ffee, 73px -302.6666666667px #00ff5e, 183px -206.6666666667px #ff6200, 57px -97.6666666667px #15ff00, 204px -301.6666666667px #ff0080, -157px 32.3333333333px #00ff95, -3px -49.6666666667px #ff8400, 245px -49.6666666667px #00ff2f, -191px -201.6666666667px yellow, -242px -37.6666666667px #0077ff, 127px -173.6666666667px #00aaff, 28px -75.6666666667px #7700ff, 109px -7.6666666667px #00a2ff, -37px -92.6666666667px #ffe100, -243px -410.6666666667px #dd00ff, -202px -70.6666666667px #f200ff, 63px -133.6666666667px #9500ff, -248px -381.6666666667px #00fff2, 242px -48.6666666667px #ff0040, 153px -52.6666666667px yellow, 190px -338.6666666667px #ff7b00, -206px -370.6666666667px #ff0062, -29px -104.6666666667px #0062ff, 143px -95.6666666667px #f200ff, 104px -376.6666666667px #e100ff, -175px -380.6666666667px #ff0088, 125px -285.6666666667px #a6ff00, 91px -286.6666666667px #ff0099, -67px -387.6666666667px #d500ff, 1px -314.6666666667px #eeff00, -66px -194.6666666667px #ffea00, -244px 61.3333333333px #00ff62, 236px -359.6666666667px #00ff1a, -248px 40.3333333333px #00e6ff, 83px -18.6666666667px #006aff, -19px -90.6666666667px #00ff99, 122px -346.6666666667px #00ff44, 65px -182.6666666667px #0073ff, -174px -5.6666666667px #00ff66, 219px -140.6666666667px #0044ff, 69px -304.6666666667px #00ff15, 15px 40.3333333333px #e6ff00, 109px -386.6666666667px #48ff00;
    }
  }
  @-ms-keyframes bang {
    to {
      box-shadow: 139px -22.6666666667px #fbff00, 176px -141.6666666667px #ff1500, 44px 6.3333333333px #ea00ff, -120px -364.6666666667px #00ff37, -152px -243.6666666667px #3300ff, 143px -125.6666666667px #0077ff, 163px -367.6666666667px #ffbf00, -84px -177.6666666667px #ff006a, 29px -295.6666666667px #00ffee, 73px -302.6666666667px #00ff5e, 183px -206.6666666667px #ff6200, 57px -97.6666666667px #15ff00, 204px -301.6666666667px #ff0080, -157px 32.3333333333px #00ff95, -3px -49.6666666667px #ff8400, 245px -49.6666666667px #00ff2f, -191px -201.6666666667px yellow, -242px -37.6666666667px #0077ff, 127px -173.6666666667px #00aaff, 28px -75.6666666667px #7700ff, 109px -7.6666666667px #00a2ff, -37px -92.6666666667px #ffe100, -243px -410.6666666667px #dd00ff, -202px -70.6666666667px #f200ff, 63px -133.6666666667px #9500ff, -248px -381.6666666667px #00fff2, 242px -48.6666666667px #ff0040, 153px -52.6666666667px yellow, 190px -338.6666666667px #ff7b00, -206px -370.6666666667px #ff0062, -29px -104.6666666667px #0062ff, 143px -95.6666666667px #f200ff, 104px -376.6666666667px #e100ff, -175px -380.6666666667px #ff0088, 125px -285.6666666667px #a6ff00, 91px -286.6666666667px #ff0099, -67px -387.6666666667px #d500ff, 1px -314.6666666667px #eeff00, -66px -194.6666666667px #ffea00, -244px 61.3333333333px #00ff62, 236px -359.6666666667px #00ff1a, -248px 40.3333333333px #00e6ff, 83px -18.6666666667px #006aff, -19px -90.6666666667px #00ff99, 122px -346.6666666667px #00ff44, 65px -182.6666666667px #0073ff, -174px -5.6666666667px #00ff66, 219px -140.6666666667px #0044ff, 69px -304.6666666667px #00ff15, 15px 40.3333333333px #e6ff00, 109px -386.6666666667px #48ff00;
    }
  }
  @keyframes bang {
    to {
      box-shadow: 139px -22.6666666667px #fbff00, 176px -141.6666666667px #ff1500, 44px 6.3333333333px #ea00ff, -120px -364.6666666667px #00ff37, -152px -243.6666666667px #3300ff, 143px -125.6666666667px #0077ff, 163px -367.6666666667px #ffbf00, -84px -177.6666666667px #ff006a, 29px -295.6666666667px #00ffee, 73px -302.6666666667px #00ff5e, 183px -206.6666666667px #ff6200, 57px -97.6666666667px #15ff00, 204px -301.6666666667px #ff0080, -157px 32.3333333333px #00ff95, -3px -49.6666666667px #ff8400, 245px -49.6666666667px #00ff2f, -191px -201.6666666667px yellow, -242px -37.6666666667px #0077ff, 127px -173.6666666667px #00aaff, 28px -75.6666666667px #7700ff, 109px -7.6666666667px #00a2ff, -37px -92.6666666667px #ffe100, -243px -410.6666666667px #dd00ff, -202px -70.6666666667px #f200ff, 63px -133.6666666667px #9500ff, -248px -381.6666666667px #00fff2, 242px -48.6666666667px #ff0040, 153px -52.6666666667px yellow, 190px -338.6666666667px #ff7b00, -206px -370.6666666667px #ff0062, -29px -104.6666666667px #0062ff, 143px -95.6666666667px #f200ff, 104px -376.6666666667px #e100ff, -175px -380.6666666667px #ff0088, 125px -285.6666666667px #a6ff00, 91px -286.6666666667px #ff0099, -67px -387.6666666667px #d500ff, 1px -314.6666666667px #eeff00, -66px -194.6666666667px #ffea00, -244px 61.3333333333px #00ff62, 236px -359.6666666667px #00ff1a, -248px 40.3333333333px #00e6ff, 83px -18.6666666667px #006aff, -19px -90.6666666667px #00ff99, 122px -346.6666666667px #00ff44, 65px -182.6666666667px #0073ff, -174px -5.6666666667px #00ff66, 219px -140.6666666667px #0044ff, 69px -304.6666666667px #00ff15, 15px 40.3333333333px #e6ff00, 109px -386.6666666667px #48ff00;
    }
  }
  @-webkit-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-moz-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-o-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-ms-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-webkit-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-moz-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-o-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-ms-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
}